<div data-template="hero" data-ng-controller="HeroCtrl" >
<div class="hub-hero" >

    <div class="hero-main">
    <div class="overlay">

        <div class="hub-hero-txt">
       <!--     <div class="tag">HOWDY, I'M ADAM </div>
            <div class="about"> </div>
           <div class="jump">
               Jump to <a href="/bio.html"><span class="bio-jump">Bio</span> </a> | <a href="/projects.html"><span class="project-jump">Projects</span></a> | <a href="/press.html"><span class="press-jump">Press</span></a> | <a href="/collaborate.html"><span class="collaborate-jump">Collaborate</span></a>
           </div>-->

            <i class="fa fa-lightbulb-o"></i>
            <div class="hero-main-tag">
                I AM AD.AM
            </div>
            <a href="/products.html">
            <div class="hero-main-p">CHECK OUT PRODUCTS <i class="fa fa-chevron-right"></i> </div>
            </a>


        </div>

    </div>
        </div>

    <div class="col-md-4 pad">
        <div class="back-l-one">
        <div class="overlay-small">
            <i class="fa fa-code"></i>
            <div class="hero-tag">
                LEARN
            </div>
            <a href="/blog.html">
            <div class="hero-p">
                    SCAN MY BLOG
                <i class="fa fa-chevron-right"></i>
            </div>
            </a>
        </div>
        </div>
    </div>
    <div class="col-md-4 pad">
        <div class="back-l-two">
        <div class="overlay-small">
            <i class="fa fa-headphones"></i>
                <div class="hero-tag">
                    LISTEN
                </div>
            <a href="/podcast.html">
            <div class="hero-p">
                TUNE IN TO PODCAST
                <i class="fa fa-chevron-right"></i>
            </div>
            </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 pad">
        <div class="back-l-three">
        <div class="overlay-small">
            <i class="fa fa-heart"></i>

                <div class="hero-tag">
                    LIFE
                </div>
            <a href="/lifestyle.html">
            <div class="hero-p">
                A HEALTHY LIFESTYLE
                <i class="fa fa-chevron-right"></i>
            </div>
            </a>
            </div>
        </div>
    </div>
</div>
</div>


