<div data-template="hero" data-ng-controller="HeroCtrl" >
<div class="hub-hero" >

    <div class="hero-main">

        <div class="vid-container">
        <video autoplay loop  id="bgvid">
            <source src="/public/img/profile/i-am-ad-am.webm" type="video/webm">
            <source src="/public/img/profile/i-am-ad-am.mp4" type="video/mp4">
        </video>
        </div>

    <div class="overlay">


            <div class="hero-main-tag">
                I.AM.AD.AM
            </div>
                <div class="hero-main-tag-p">
                    “Stop acting so small. You are the universe in ecstatic motion.”<br/> - Rumi
                </div>



    </div>
        </div>

    <div class="col-md-4 pad">
        <div class="back-l-one">
        <div class="overlay-small">
            <i class="fa fa-eye"></i>
            <div class="hero-tag">
                SEE
            </div>
            <a href="/products.html">
            <div class="hero-p">
                    CHECK OUT PRODUCTS
                <i class="fa fa-chevron-right"></i>
            </div>
            </a>
        </div>
        </div>
    </div>
    <div class="col-md-4 pad">
        <div class="back-l-two">
        <div class="overlay-small">
            <i class="fa fa-headphones"></i>
                <div class="hero-tag">
                    HEAR
                </div>
            <a href="/podcast.html">
            <div class="hero-p">
                TUNE IN TO PODCAST
                <i class="fa fa-chevron-right"></i>
            </div>
            </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 pad">
        <div class="back-l-three">
        <div class="overlay-small">
            <i class="fa fa-microphone"></i>

                <div class="hero-tag">
                    SPEAK
                </div>
            <a href="/blog.html">
            <div class="hero-p">
                BROWSE MY BLOG
                <i class="fa fa-chevron-right"></i>
            </div>
            </a>
            </div>
        </div>
    </div>

</div>
</div>


