<div data-template="project-post" data-ng-controller="ProjectPageCtrl">
    <div class="project-post">
        <div class="col-md-12 pad">
            <div class="project-title-backdrop">
                <div class="project-page-title">
                    PRODUCTS
                </div>
                <div class="project-underline">

                </div>

            </div>
        </div>
        <div class="col-md-12 pad">
            <div class="project-backdrop">
                <div class="project-overlay">
                    <div class="project-title">
                        Money!
                    </div>
                    <div class="project-page-tag">
                       Common Pence is a donation platform utilising contactless and NFC technology to simplify
                        fundraising.
                    </div>

                    <div class="project-page-tech-stack">
                        TECH STACK
                    </div>
                    <div class="project-page-tech">
                        Arduino | Angular | C++ | Raspberry Pi | RFId | NFC | Angular | Sass | Bootstrap | 3D Printing |
                        Rhino | Illustrator | Photoshop | GA | Github
                    </div>
                    <a class="arrow" href="/products/common-pence.html">
                        <div class="link-box">CHECK IT OUT <i class="fa fa-chevron-right"></i></div>
                    </a>


                </div>
            </div>
        </div>


        <div class="col-md-12 pad">
            <div class="project-backdrop pidentify">
                <div class="project-overlay">
                    <div class="project-title">
                        PIDENTIFY
                    </div>
                    <div class="project-page-tag">
                        Pidentify is your personal fixer, to help you identify a tool or part and help you buy it.
                    </div>

                    <div class="project-page-tech-stack">
                        TECH STACK
                    </div>
                    <div class="project-page-tech">
                        iOS | Android | Web
                    </div>
                    <a class="arrow" href="/products/pidentify-app.html">
                        <div class="link-box">CHECK IT OUT <i class="fa fa-chevron-right"></i></div>
                    </a>


                </div>
            </div>
        </div>

            <div class="col-md-12 pad">
                <div class="project-backdrop alumnow">
                    <div class="project-overlay">
                        <div class="project-title">
                            ALUMNOW
                        </div>
                        <div class="project-page-tag">
                            alumnow is a crowdfunding platform encouraging alumni to effortless give back
                        </div>
                        <div class="project-page-tech-stack">
                            TECH STACK
                        </div>
                        <div class="project-page-tech">
                            Angular | JQuery | GA | Node | GULP | Sass | CSS | Bootstrap | Velocity | Illustrator |
                            Photoshop | Bower | JSON | Github
                        </div>
                        <a class="arrow" href="http://alumnow.co/">
                            <div class="link-box">CHECK IT OUT <i class="fa fa-chevron-right"></i></div>
                        </a>
                    </div>
                </div>
            </div>


                <div class="col-md-12 pad">
                    <div class="project-backdrop hwdy">
                        <div class="project-overlay">
                            <div class="project-title">
                                HWDY
                            </div>
                            <div class="project-page-tag">
                                HWDY is a real time data dashboard for agile product teams to visually track their
                                velocity
                            </div>
                            <div class="project-page-tech-stack">
                                TECH STACK
                            </div>
                            <div class="project-page-tech">
                                Angular | JQuery | GA | Node | GULP | Sass | CSS | Bootstrap | Velocity | Illustrator |
                                Photoshop | D3 | Github
                            </div>

                        </div>
                    </div>
                </div>


</div>



