<div data-template="lifestyle-blog" data-ng-controller="LifestyleBlogCtrl">
    <div class="lifestyle-blog" id="lifestyle-blog">
        <div class="lifestyle-title">
            GRIP IT & RIP IT
        </div>
        <div class="lifestyle-p">
            Zander is obsessed with optimising rare time. He is an ultra marathon runner and currently training for the
            worlds toughest footrace. Zanders visual blog includes short sharp posts briefly summarising his life in
            startups and on startlines.
        </div>

        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/frieze.webm" type="video/webm">
                <source src="public/img/profile/i-am-ad-am.mp4" type="video/mp4">
            </video>

            <div class="blog-post two">
                Flair at the Frieze Art Fair.
                <br><br>
                Having studied Fine Art I enjoy critiquing exhibitions. Predictably this years Frieze curation was flat.
                The contemporary tent was packed with oil and acrylic canvases. Given it is 2015, I associate
                'contemporary' with interactive installations that arouse multiple senses.
            </div>

        </div>


        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/3d.webm" type="video/webm">
                <source src="public/img/profile/3d.mp4" type="video/mp4">
            </video>

            <div class="blog-post two">
                It's getting hot in here, so 3D print all of your clothes.
                <br><br>
                First print with the crowdfunded craftbot. This print is a simple arduino case using black ABS.
                Household printers are still embryonic in their existence. My passion is embedding data into everyday
                objects meshing python with rhino.
            </div>

        </div>


        <div class="vid-container">
            <video loop muted id="bgvid">
                <source src="public/img/profile/surf.webm" type="video/webm">
                <source src="public/img/profile/i-am-ad-am.mp4" type="video/mp4">
            </video>

            <div class="blog-post">
                Surfing the web is often negatively distracting and a waste of crucial rare time.
                Surfing mother natures web of waves is distracting for all the right reasons.
                <br><br>
                I began surfing seven days ago. I have fallen in love. Admittedly I spend 10+ hours a day surfing
                my macbook. On a daily basis I stare at images beneath glass and casually flick, ergonomically advanced,
                warm buttons. As you can imagine the tactile pleasure I get from this routine is fairly limiting.
                <br><br>
                <span>
                I gained more pleasure from one afternoon of surfing than one thousand hours of surfing my macbook. Surfing is the
                hardest sport I have ever done.
                <br><br>
                For those of you who don’t know the key to being a good developer is surfing the web effectively. I can
                do this because of practice and failure. Now I am determined to master the waves.
                        </span>
            </div>

        </div>



    </div>
</div>
