<div data-template = "podcast-hero" data-ng-controller="PodcastCtrl">
    <div class="podcast-hero">
        <div class="overlay-podcast">
            <div class="podcast-icon">
            <i class="fa fa-headphones"></i>
            </div>
            <div class="podcast-tag">
                TUNE IN TO MY PODCAST
            </div>
            <a href="#podcast-content">
            <div class="podcast-p">
                    LISTEN UP <i class=" fa fa-chevron-down"></i>
            </div>
            </a>
        </div>
    </div>
</div>